<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e8a37b8c52.js" crossorigin="anonymous"></script>
</head>

<body>


    <!--BEGIN MARKUP -->
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <h3 class="card-title">${member.getName()}</h3>
                        <h5 class="card-title">${member.getRole()}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="col">
                                <p>ID: ${member.getId()}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>Email: ${member.getEmail()}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>Office Number: ${member.getOfficeNumber()}</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MARKUP -->


</body>

</html>